.post {
  border: 1px solid lightgray;
  width: fit-content;
  background-color: #ffffff;
  max-width: 500px;
  margin: 0px auto 45px auto !important;
}

.post__image {
  width: 100%;
  object-fit: contain;
}

.post__avatar {
  margin-right: 10px;
}

.post__header {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.post__text {
  padding: 10px;
  text-align: left;
}

.post__comments {
  padding: 2px 8px 8px;
}

.post__caption {
  font-weight: normal;
}

.post__input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post__location {
  height: 14px !important;
  fill: gray;
}
